<tr>
    <td>
        Here are the daily enrollment stats for {{date}}:
    </td>
</tr>
<tr>
    <td>
        <ul>
        {{#each enrollmentStats}}
            {{#with this}}
                <li><b>{{NAMEOFAIRPORTORBORDERCROSSING}}</b> - {{COUNT}}</li>
            {{/with}}
        {{else}}
            No records.
        {{/each}}
        </ul>
    </td>
</tr>